* {
    padding: 0;
    margin: 0;
}

body {
	/*background: url("../images/fondo3.jpg") no-repeat fixed center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    background-image: url("../img/body2.jpg");
    /*background-color: #e9eaed;*/
}

.estiloLetraDiv {
	font-size: 15px;
	color: #3366FF;
}

.formularioDiv {
	margin-top: 150px;
}

.formulario-registrar {
	margin-top: 50px;
}

.formTop {
	background-color: #E6E6FA;
	/*opacity: 0.5;*/
	color: black;
	border: 1px solid #FF8C00; 
	padding: 0 25px 15px 25px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.form-titulo {
	width: 75%;
	padding-top: 20px;
}

.form-content {
	/*background-color: rgba(0,61,245, 0.1);*/
	background-color: black;
	
	padding: 25px 25px 30px 25px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;	
	border: 3px solid #FF8C00; 
}



#ing {
	float: right;
	margin-top: 0px;
	display: inline; 
	font-size: 13px;
	width: 120px;
    background-color: green;
    border-color: #286090;
}




